html {
	font-size: 62.5%;
}

body {
font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10.7em;
  font-weight: 800;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.7em;
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

main {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.7em;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 1.7em;
}

/*header*/
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.branding {
  cursor: pointer;
  display: inline-block;
}

.logo {
  display: none;
}

/*game section*/
.game {
  /*dev*/background: rgba(100, 50, 80, 0.5);
  height: 100vh;
  width: 100%;
}

/*uvp section*/

.uvp-text {
  font-size: 2.7em;
  font-weight: 600;
  line-height: 1.3;
}

/*cta section*/
/*footer*/

@media (min-width: 600px) {

  /*header600*/
  /*uvp section600*/
  /*cta section600*/
  /*footer600*/

}

@media (min-width: 900px) {

  /*header900*/
  /*uvp section900*/


  /*cta section900*/
  /*footer900*/

}

@media (min-width: 1200px) {

  /*header1200*/
  .logo {
    display: block;
  }

  .logo-small {
    display: none;
  }

  /*game section1200*/
  /*uvp section1200*/
  /*GRID*/
  .uvp {
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 400px 400px 400px 400px;
    grid-template-rows: 400px 400px 400px 400px;
    margin: 0 auto;
    width: 1200px;
  }

  .uvp div {
    -ms-grid-column-align: center;
    align-self: center;
  }

  .who-we-are {
    grid-column: 1;
    grid-row: 1;
  }

  .uvp div:nth-child(1),
  .uvp div:nth-child(3) {
    text-align: right;
  }

  .what-we-do {
    grid-column: 2;
    grid-row: 2;
  }

  .tools {
    grid-column: 1;
    grid-row: 3;
  }

  .why-us {
    grid-column: 2;
    grid-row: 4;
  }

  /*cta section1200*/
  /*footer1200*/

}

@media (min-width: 1800px) {

  /*header1800*/
  /*uvp section1800*/
  /*cta section1800*/
  /*footer1800*/

}
